<%- include('./partials/header.ejs') %>
<h1>Ini dashboard Admin</h1>

<a href="/admin/add">Add Destination</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>location</th>
        <th>description</th>
        <th>Option</th>
    </tr>
    <% for(let i =0; i < data.length; i++) {%>
    <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].name %></td>
        <td><%= data[i].price %></td>
        <td><%= data[i].location %></td>
        <td><%= data[i].description %></td>
        <td><a href="/admin/<%= data[i].id %>/edit">Edit</a>| <a href="/admin/<%= data[i].id %>/delete">Delete</a></td> 
    </tr>
    <%}%>
</table>
<%- include('./partials/footer.ejs') %>